 .login {
    height: 100vh;
    width: 100vmin; 
    display: grid;
    place-items: center;
     
     
    
     
  } 
  /* https://t.ctcdn.com.br/I0WUsiEXcSJjOZBBRX1q1TYv-Nk=/1400x788/smart/filters:format(webp)/i463897.png */

 
  .login__container{
    padding: 100px;
    text-align: center;
    background-color:wheat;
    border-radius: 10px;
    box-shadow:-1px 4px 20px -6px rgba(0, 0, 0, 0.12);
    padding-bottom: 40px;
    background-image: url("https://www.elheraldodechihuahua.com.mx/incoming/ntp3rj-whats-app-reacciones.jpg/ALTERNATES/LANDSCAPE_1140/Whats-app-reacciones.jpg");
     background-repeat: repeat;
}
  .login__container > img {
    object-fit: contain;
    height: 100px;
   
  } 
  .login__text>h1{
    margin-bottom: 40px;
    margin-top: 20px;
    color:black;
    font-size:xx-large;
    font-weight: bolder;
  }
  .login__text>h1>span{
    color:darkslategray;
    font-size: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-variant: small-caps;
    font-weight: bolder;
  }

  .login__button{
    margin-left: 35px;
  }

  .g-btn  {
    font-weight: bold !important;
  }
 
 